<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tccdemo2.mapper.master.MasterDemoMapper">
    <insert id="save" parameterType="com.example.tccdemo2.domain.Demo"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
       INSERT INTO demo(name) VALUES (#{name})
    </insert>
</mapper>